/* CSS files add styling rules to your content */

body {
  background-color: gray;
  font-family: Lucida Handwriting;
  margin: 5;}
 //border: 2px dashed black;
 // padding: 20px;
  
  //background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/43514hd.jpg");

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: whitesmoke;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  //color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: gray;
  color:black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

a:link, a:visited {
  background-color: gray;
  color: black;
  border: 2px solid whitesmoke;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: gray;
  color: red;
}


.header {
  background-color: #F1F1F1;
  text-align: center;
  color: black;
  padding: 30px;
  font-size: 40px;
}

.header1 {
  background-color: #F1F1F1;
  color: black;
  padding: 10px;
  font-size: 30px;
}

p1{
  font-size:25px;
  color: black;
  }

footer{
  background-color:lightgray;
  text-align:center;
  font-size:20px;
}

p2{color:brown;
font-size:30px;
text-align:center;}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  align-items: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight:bold;
  border: 2px solid black;
  background: transparent;

}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}




